.workshop-guide {
    z-index: 2;
    position: relative;
    padding: 0.5em 1em;
    column-count: 4;
    column-gap: 0;
}

.resource {
    display: inline-block;
    background: #fff;
    border: 1px solid #ddd;
    margin: 0.5em;
}

.resource-content {
    padding: 1.8em;
}

.resource-image {
    background: #444;
    height: 11em;
}

.resource-title {
    margin-bottom: 0.5em;
    font-size: 1.3em;
    color: #000;
}

.resource-description {
    font-size: 1em;
    color: #444;
}
