@import '../../../mixins.scss';

.workshop-guide {
    @include main-column(); 
}

.workshop-guide-content {

    h1, h2, h3 {
        color: #000;
        font-weight: bold;
    }

    a {
        font-size: 1.1em;
        color: #be49d5;
        text-decoration: none;
    }

    p {
        color: #222;
        font-size: 1.2em;
    }
    
    a, p {
        font-family: 'Slabo 27px', sans-serif;
    }

}
