@import '../../../mixins.scss';

.workshop-header-content {
    @include main-column();
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.3em 1.5em;
}

.workshop-header-title {
    font-size: 3em;
    color: #fff;
    cursor: pointer;
}

.workshop-header-title:hover {
    opacity: 0.8;
}

.workshop-header-bookmark {
    color: #fff;
    font-size: 1.7em;
    cursor: pointer;
}

.workshop-header-bookmark:hover {
    opacity: 0.8;
}
