@import '../../../mixins.scss';

.workshop-header-content {
    @include main-column();
    display: flex;
    align-items: center;
    padding: 20em 1.3em 5em;
    text-align: center;
}

.workshop-header-title {
    font-size: 3em;
    color: #fff;
    text-align: center;
    width: 100%;
}
