.welcome {
    height: 33em;
    position: relative;
    text-align: center;
}

.welcome-image {
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    height: 100%;
}

.welcome-degrade {
    background: -webkit-linear-gradient(top, transparent, rgba(3,3,3,0.6));
    position: absolute;
    bottom: 0;
    height: 15em;
    width: 100%;
}

.welcome-content {
    @include main-column(); 
    position: relative;
    height: 100%;
}

.welcome-learn {
    position: absolute;
    bottom: 3em;
}

.welcome-learn-message {
    color: #fff;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

.welcome-learn-link {
    display: inline-block;
    margin: 3em auto 0;
    border-radius: 10em;
    color: #fff;
    font-size: 1.2em;
    border: 2px solid #fff;    
    padding: 0.5em 1.5em;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.1s ease;
}

.welcome-learn-link:hover {
    color: #555;
    background: #fff;
}
