.form-input-container {
    margin: 1em 0;
    overflow: hidden;
    font-size: 1.1em;
}

.form-label {
    display: inline-block;
    font-weight: 600;
    vertical-align: top;
    width: 25%;
    margin: 0.5em 4% 0 0;
    color: #111;
    float: left;
    text-align: right;
}

.form-input {
    color: #333;
    border: 1px solid #ccc;
    display: block;
    padding: 0.6em 1.2em;
    font-size: 1em;
    float: left;
    margin: 1px;
    width: 25em;
    overflow: hidden;
    border-radius: 8px;
    outline: none;
}

.form-input:focus {
    border: 1px solid #000;
}

.form-textarea {
    color: #333;
    border: 1px solid #ccc;
    padding: 0.6em 1.2em;
    font-size: 1em;
    margin: 0;
    resize: none;
    display: block;
    outline: none;
    width: 25em;
}

.form-select-container {
    width: 27.4em;
    float: left;
}

.form-select {
    background: #fff;
    cursor: pointer;
    outline: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    margin: 0 0 1px;
    width: 100%;
    color: #333;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.form-select:focus {
    border: 1px solid #000;
}
