@import '../../mixins.scss';

.user-header {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 0 0 3em;
}

.user-header-inner-wrapper {
    @include main-column(); 
    display: flex;
}

.user-picture {
    border-radius: 20em;
    width: 10em;
    height: 10em;
    margin-right: 2em;
    flex-shrink: 0;
    background-size: cover;
    background-position: 50% 50%;
}

.user-username {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.user-about {
    font-size: 1em;
    color: #555;
}
