.workshops {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workshop-item {
    text-align: center;
    cursor: pointer;
    height: 20em;
    width: 20em;
    margin: 0.5em;
    background-size: cover;
    background-position: 50% 50%;
}


.workshop-item-link {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    position: relative;
    background: -moz-linear-gradient(top, transparent, rgba(3,3,3,0.6));
}

.workshop-item-link:hover {
    background: -moz-linear-gradient(top, rgba(3,3,3,0.3), rgba(3,3,3,0.8));
}

.workshop-item-name {
    position: absolute;
    bottom: 1.5em;
    font-size: 1.5em;
    width: 100%;
    left: 0;
}
