.dates {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #222;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.date {
    display: flex;
    padding: 1em 1.9em;
    cursor: pointer;
    align-items: center;
    transition: background 0.2s ease;
}

.date:hover {
    background: #eee;
}

.date-day {
    font-size: 3.2em;
    margin-right: 0.2em;
}

.date-month {
    font-size: 0.9em;
}

.date-hour {
    font-size: 1.1em;
}
