.calendar {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.calendar-date {
    display: flex;
    padding: 1.3em;
    cursor: pointer;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.calendar-date:hover {
    opacity: 0.8;
}

.calendar-date-day {
    color: #fff;
    font-size: 2em;
}

.calendar-date-month {
    color: #fff;
    font-size: 0.8em;
}
