.users {
    display: flex;
    padding: 2em 0;
    justify-content: center;
    flex-wrap: wrap;
}

.user-item {
    margin: 0.5em;
    cursor: pointer;
    height: 10.5em;
    width: 8em;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
}

.user-item:hover {
    opacity: 0.7;
}

.user-item-picture {
    background: #666;
    width: 6.5em;
    height: 6.5em;
    margin-bottom: 0.8em;
    border-radius: 50em;
}

.user-item-name {
    color: #333;
    font-size: 1em;
}
