.users {
    display: flex;
    padding: 1.5em 0;
    justify-content: center;
}

.user-item {
    margin: 0.5em;
    cursor: pointer;
    width: 8em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-item:hover {
    opacity: 0.7;
}

.user-item-picture {
    background: #666;
    width: 6em;
    height: 6em;
    border-radius: 10em;
    margin-bottom: 0.5em;
}

.user-item-name {
    text-align: center;
    color: #333;
}
