.users {
    display: flex;
}

.user-item {
    margin: 0.3em;
    background: #666;
    width: 4em;
    height: 4em;
    cursor: pointer;
    border-radius: 6px;
}

.user-item:hover {
    background: #777;
}
