.workshop-guide {
    z-index: 2;
    position: relative;
    padding: 0.5em 1em;
    background: #f0f0f0;
    column-count: 5;
    column-gap: 0;
}

.workshop-guide-panel {
    display: inline-block;
    padding: 2.5em;
    background: #fff;
    border: 1px solid #ddd;
    margin: 0.5em;
}

.workshop-guide-panel-title {
    color: #111;
    font-size: 1.5em;
    margin: 0 0 1em;
}

.workshop-guide-panel-resource {
    color: #333;
    margin: 0.5em 0;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.workshop-guide-panel-resource:hover {
    color: #777;
}
