@import './header/style.scss';
@import './resources/style.scss';
@import './calendar/style.scss';
@import './community/style.scss';
@import './related/style.scss';


.workshop {
    background: #bbb;
    min-height: 100vh;
    padding-bottom: 24em;
}

.workshop-content {
    background: #f0f0f0;
    z-index: 3;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.navbar {
    background: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

.navbar-tab {
    cursor: pointer;
    padding: 1.2em 2em;
    display: flex;
    align-items: center;
}

.navbar-tab-name {
    color: #444;
    text-transform: uppercase;
    font-size: 1.1em;
}

.navbar-tab-number {
    color: #111;
    margin-right: 0.7em;
    font-size: 1.5em;
}
