@import './navbar/style';

.workshop-header-image {
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.workshop-header-degrade {
    background: -webkit-linear-gradient(top, transparent, rgba(3,3,3,0.8));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.workshop-header-content {
    @include main-column();
    display: flex;
    align-items: center;
    padding: 20em 1.3em 3em;
    text-align: center;
}

.workshop-header-title {
    font-size: 3em;
    color: #fff;
    text-align: center;
    width: 100%;
}
