@import '../../mixins.scss';

.workshop-header {
    height: 30em;    
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.workshop-header-content {
    background: -moz-linear-gradient(top, transparent, rgba(3,3,3,0.7));
    position: absolute;
    bottom: 0;
    height: 25em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.workshop-header-image-title {
    color: #fff;
    font-size: 3.1em;
    text-shadow: 0 0 1px #fff;
}

.workshop-header-bookmark {
    margin: 1.7em 0 1.3em;
    color: #111;
    background: rgba(255,255,255,0.9);
    font-size: 0.9em;
    padding: 0.8em 2.5em;
    border-radius: 10em;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.workshop-header-bookmark:hover {
    opacity: 0.8;
}

.workshop-navbar {
}

.workshop-navbar-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.workshop-navbar-tab {
    padding: 1em 2em;
    color: #fff;
    cursor: pointer;
    font-size: 1.3em;
}

.workshop-navbar-tab:hover {
    color: #ccc;
}

.workshop-navbar-tab-active {
    padding: 1em 2em 0.7em;
    border-bottom: 0.3em solid;
    color: #fff;
    cursor: pointer;
    font-size: 1.3em;
}

.workshop-navbar-label {
    display: inline-block;
    margin: 0 0 0 0.6em;
    font-size: 1em;
    text-transform: capitalize;
}
