@import '../../mixins.scss';

.workshop-header {
    height: 25em;    
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    position: relative;
}

.workshop-header-degrade {
    background: -moz-linear-gradient(top, transparent, rgba(3,3,3,0.7));
    position: absolute;
    bottom: 0;
    height: 20em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.workshop-header-content {
    @include main-column();
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.workshop-header-title {
    font-size: 2.8em;
    color: #fff;
    text-align: center;
}

.workshop-navbar {
    margin: 1.5em 0 0;
}

.workshop-navbar-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.workshop-navbar-tab {
    padding: 0.8em 2em;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
}

.workshop-navbar-tab:hover {
    color: #ccc;
}

.workshop-navbar-tab-active {
    padding: 0.8em 2em 0.5em;
    border-bottom: 0.3em solid;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
}

.workshop-navbar-label {
    display: inline-block;
    margin: 0 0 0 0.6em;
    font-size: 1em;
    text-transform: capitalize;
}
