.settings-section {
    padding: 0.5em 0;
}

.settings-input-container {
    margin: 1em 0;
    overflow: hidden;
    font-size: 1.1em;
}

.settings-label {
    display: inline-block;
    font-weight: 600;
    vertical-align: top;
    width: 25%;
    margin: 0.5em 4% 0 0;
    color: #111;
    float: left;
    text-align: right;
}

.settings-input {
    color: #333;
    border: 1px solid #ccc;
    display: block;
    padding: 0.6em 1.2em;
    font-size: 1em;
    float: left;
    margin: 1px;
    width: 25em;
    overflow: hidden;
    border-radius: 8px;
    outline: none;
}

.settings-input:focus {
    border: 1px solid #000;
}

.settings-textarea {
    color: #333;
    border: 1px solid #ccc;
    padding: 0.6em 1.2em;
    font-size: 1em;
    margin: 0;
    resize: none;
    display: block;
    outline: none;
    width: 25em;
}

.settings-select-container {
    width: 27.4em;
    float: left;
}

.settings-select {
    background: #fff;
    cursor: pointer;
    outline: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    margin: 0 0 1px;
    width: 100%;
    color: #333;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.settings-select:focus {
    border: 1px solid #000;
}

.settings-user-bio-avatar {
    width: 9em;
    height: 9em;
    position: relative;
    border-radius: 50em;
    background-size: cover;
    background-color: #fff;
    background-position: center;
    display: inline-block;
    vertical-align: top;
    margin: 0 2em 0 0;
}

.delete-button {
    padding: 2em 0;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
}

.delete-button-content {
    cursor: pointer;
}

.delete-button-content:hover {
    color: #f00;
}

.settings-submit {
    text-align: center;
    padding: 1em 0;
    display: block;
    background: #eee;
    margin: 1em 0 0;
}

.settings-submit-button {
    padding: 0.5em;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin: 0 3em;
    font-size: 2.2em;
    color: #999;
    cursor: pointer;
}

.settings-submit-button:hover {
    color: #000;
}

.settings-header {
    width: 100%;
    padding: 7em 0 2em;
    background: #fff;
    overflow: hidden;
}

.settings-header-content {
    padding: 0 12em 0 0;
    overflow: hidden;
}

.settings-header-content-text {
    float: left;
    width: 100%;
}

.settings-header-avatar {
    display: block;
    height: 10em;
    width: 10em;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10em;
    margin: 0 -12em 0 0;
    cursor: pointer;
    float: right;
}

.settings-header-title {
    text-decoration: none;
    color: #222;
    font-size: 1.9em;
    line-height: 1.1em;
    display: inline-block;
    max-width: 28em;
    margin: 0.2em 0 0;
    font-weight: 600;
    cursor: pointer;
}

.settings-header-about {
    color: #666;
    margin: 0.8em 0 1em;
    font-weight: 600;
    font-size: 1.1em;
}

.settings-header-link {
    text-decoration: none;
    margin: 0 1em 0 0;
    font-size: 1.7em;
    color: #666;
}

.settings-name-input {
    color: #000;
    border: 1px solid #ccc;
    display: block;
    padding: 0.3em 0.7em;
    font-size: 1.9em;
    margin: 0 0 0.3em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 600;
    outline: none;
}

.settings-name-input:focus {
    border: 1px solid #000;
}

.settings-about-input {
    border: 1px solid #ccc;
    padding: 0.6em 1.2em;
    color: #444;
    font-size: 1.2em;
    margin: 0;
    resize: none;
    display: block;
    outline: none;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.settings-about-input:focus {
    border: 1px solid #000;
}
