.workshop-community {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.workshop-community-tab {
    cursor: pointer;
    padding: 1em 2.2em;
    display: flex;
    align-items: center;
}

.workshop-community-tab-name {
    color: #444;
    text-transform: uppercase;
}

.workshop-community-tab-number {
    color: #111;
    margin-right: 0.7em;
    font-size: 1.5em;
}
