@mixin main-column() {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 850px;
    padding: 0 1em;
}

@mixin main-column-wide() {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 0 1em;
}

@mixin topbar-spacing() {
    margin-top: 7em;
}
