@import './home/style.scss';
@import './workshop/style.scss';
@import './profile/style.scss';
@import './shared/style.scss';
@import './settings/style.scss';
@import './about/style.scss';


* {
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
}

body {
    padding: 0;
    margin: 0;
}

.fa {
    width: 1em;
    text-align: center;
}
