@import './home/style.scss';
@import './workshop/style.scss';
@import './profile/style.scss';
@import './shared/style.scss';


* {
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
}

body {
    padding: 0;
    margin: 0;
}

.fa {
    width: 1em;
    text-align: center;
}

.main-column {
    margin: 0 auto;
    width: 90%;
    max-width: 850px;
    padding: 0 1em;
    position: relative;
    overflow: hidden;
}
