@import '../../../mixins.scss';

.workshop-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1px;
}

.workshop-navbar-tab {
    display: flex;
    align-items: center;
    padding: 1.4em 2.5em;
    text-transform: uppercase;
    cursor: pointer;
}

.workshop-navbar-tab:hover {
    opacity: 0.8;
}

.workshop-navbar-tab-selected {
    display: flex;
    align-items: center;
    padding: 1.4em 2.5em 1em;
    border-bottom: 0.4em solid #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.workshop-navbar-tab-icon {
    color: #fff;
    margin-right: 0.7em;
    font-size: 1.5em;
}

.workshop-navbar-tab-name {
    color: #fff;
    font-size: 1.2em;
}
