@import '../../../mixins.scss';

.menu {
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.menu-visible {
    margin-top: 0;
    transition: margin 0.2s ease;
}

.menu-invisible {
    margin-top: -5em;
    transition: margin 0.2s ease;
}

.menu-content {
    @include main-column-wide(); 
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.menu-tab {
    text-decoration: none;
    color: #777;
    transition: color 0.1s ease;
    padding: 1.3em 2em;
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.menu-tab:hover {
    color: #333;
}

.menu-tab-label {
    text-transform: capitalize;
    font-size: 1em;
}

.menu-tab-icon {
    display: inline-block;
    font-size: 1.5em;
    margin: 0 0.5em 0 0;
}

